.container {
  display: flex;
  background-color: #f6f6f6;
  width: 1000px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  width: 200px;
  padding: 5px 0;
  font-size: 20px;
  text-align: center;
  background-color: deepskyblue;
  list-style:none;
}

li:hover {
  background-color: lightblue;
}

.pokemon-image {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 800px;
}